asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
Cartopy==0.18.0
chardet==3.0.4
cryptography==2.1.4
cycler==0.10.0
dataclasses==0.6
decorator==4.1.2
deprecation==2.1.0
enum34==1.1.6
eyeD3==0.9.5
filetype==1.0.7
futures==3.3.0
gyp==0.1
idna==2.6
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.16.6
olefile==0.45.1
packaging==20.4
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.4.7
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.26
scandir==1.7
scipy==1.2.3
SecretStorage==2.3.1
Shapely==1.7.0
simplegeneric==0.8.1
six==1.15.0
subprocess32==3.5.4
traitlets==4.3.2
wcwidth==0.1.7
youtube-dl==2020.5.8
